<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
      <div class="row mt-5">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-12 col-12 main_header_left align-items-center justify-content-center ">
              <figure>
                 <img src="images/404_page_cover.jpg" alt="error image" class="img-fluid" width="600">
              </figure>
            <p>Welcome to my weather app</p>
            <h1>{{errorMsg}}</h1>
            <a href="/"><button>Go back</button></a>
          </div>
        </div>
      </div>
      </div>
    </div>
</body>
</html>