<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
      <div class="row mt-5">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center justify-content-center">
                <figure>
                    <img src="images/my_photo.jpg" alt="my image" class="img-fluid" height="100" width="200"/>
                </figure>
              </div>
          <div class="col-md-6 col-12 main_header_left">
            <p>Hello everyone!</p>
            <h1>I'm an<span class="span_color"> Engineering student</span> and this is my Express project</h1>
            <a href="https://www.instagram.com/gowda___srujan/"><button>About me</button></a>
          </div>
          
        </div>
      </div>
      </div>
    </div>
</body>
</html>